---
layout: default
---
<head>
<link href="/css/syntax.css" rel="stylesheet">

<style>
table {
    border-collapse: collapse;
    width: auto;
}

th, td {
	text-align: left;
	font-size: 90%;
	font-family: "roboto sans","Helvetica Neue",Helvetica,Arial;
    padding: 5px;
}

td {
	border: 2px solid #ddd;
}

tr:nth-child(even){background-color: #f2f2f2}

th {

    background-color: #555;
    color: white;
}
</style>

</head>
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="offset"
			style="
			width:100%;
			height:130px;
			background-color:#fff;
			position:top;
			">
	</div>

	<div class="post-header">
	  <div class="post-header-content">
		<h1 class="post-header-title">{{ page.title }}</h1>
    	<p class="post-header-meta text-muted">
			{% if page.date %} <span>{{ page.date | date: "%b %-d, %Y" }}</span>
			{% endif %}
			{% if page.author %} • <span>{{ page.author }}</span>
			{% endif %}
		</p>
		<hr style="border:dashed 1px #ddd">
		<p class="post-header-desc">{{ page.descripcion }}</p>
	  </div>

	  <div class="post-header-img">
		<img src="{{ page.portada }}" height="300px" widht="auto"  >
	  </div>

	</div>

	<hr style="border:dashed 1px #ddd">

  <div class="page-content" itemprop="articleBody">
    {{ content }}
  </div>

<h3>Links </h3>

<ul type="none" style="">

	{% if page.github != ''%}
	<li style="margin-bottom:15px;">
		Repositorio del proyecto en <a href="{{page.github}}">GitHub</a>
	</li>
	{% endif %}

	{% if page.facebook != ''%}
	<li style="margin-bottom:15px;">
		Album de fotos en <a href="{{page.facebook}}">Facebook</a>
 	</li>
	{% endif %}

	{% if page.youtube != ''%}
	<li style="margin-bottom:15px;">
		Videos en <a href="{{page.youtube}}">YouTube</a>
	</li>
	{% endif %}

	{% if page.github == "" and page.facebook == "" and page.youtube == "" %}
		<li style="margin-bottom:15px;">
			<i>Whoops! Nada por aqui...</i>
		</li>
	{% endif %}

<div style="height:50px">	</div>

</article>
