<!-- Navigation -->
<div class="navbar-fixed-top">
	<div class="navbar-content">

		<div class="nav-logo">
			<a class="logo" href="http://cdr.ing.unlp.edu.ar">
				<img src="/logos/cdrv2.png" />
			</a>
		</div>

		<div class="nav-menu">
			<ul class="nav-list">
				<li>
					<a class="nav-link"  href="http://{{site.url}}">Inicio</a>
				</li>
				<li>
					<a class="nav-link" href="/proyectos/"">Proyectos</a>
				</li>
				<li>
					<a class="nav-link" href="/presentaciones/"">Presentaciones</a>
				</li>
				<li>
					<a class="nav-link" href="#contacto">Contacto</a>
				</li>
			</ul>
		</div>
	</div>
</div>
